.btn {
  border: 1px solid $blue;
  outline: 0;
  flex-shrink: 0;
  background: none;
  margin: 0 0.5em;
  background: $blue;
  color: $light;
  border-radius: $border-radius;
  padding: 0.5em;
  min-width: 150px;
  transition: background 0.3s, border-color 0.3s;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue-hover;
    border-color: $blue-hover;
  }
}
