.authorization {
  display: block;
  z-index: 100;
  position: relative;
  &.authorization--hidden {
    display: none;
  }
}

.authorization__container {
  background: $light;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.authorization__form {
  max-width: 200px;
  margin: 15px auto;
}

.authorization__fieldset {
  margin: 0 0 20px 0;
}

.authorization__legend {
  margin: 0 auto 15px auto;
}

.authorization__label {
  display: block;
  margin: 0 0 20px 0;
  &:last-child {
    margin: 0 0 10px 0;
  }
}

.authorization__input {
  display: block;
  width: 100%;
}

.authorization__button {
  margin: 0 auto;
  display: block;
}
