.test {
  height: 100vh;
  font-size: 30px;
  color: $dark;
  display: none;

  &--active {
    display: block;
  }
}

.test__wrap {
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test__timer {
  font-size: 1.5em;
  margin: 0 0 1em;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.test__timer-text {
  font-size: 100%;
}

.test__question {
  width: 100%;
}

.test__question-text {
  margin: 0 0 0.5em;
  text-align: center;
  font-size: 80%;

  span {
    color: green;
    font-size: 120%;
  }
}

.test__answer {
  width: 100%;
  display: flex;
}

.test__answer-field {
  display: block;
  flex-grow: 1;
  touch-action: manipulation;
  color: $dark;
  background-color: #fff;
  padding: 0.5em;
  font-size: 100%;
  line-height: 1;
  border: 1px solid $input-border;
  border-radius: $border-radius;
  outline: none;
  transition: border-color ease-in-out 0.15s;

  &:focus,
  &:active,
  &:hover {
    border-color: $input-border-hover;
  }
}

.test__answer-btn {
  margin-left: 0.7em;
}
