$col: #000;

$bg: #fff;

$font-sansSerif: "PT Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$font-serif: "Lora", Cambria, Georgia, "Times New Roman", Times, serif;

$green: #1fbb1f;
$red: #e21f1f;
$grey: #696060;

$dark: #111;
$light: #fff;
$blue: #0275d8;
$border-radius: 0.2em;
$input-border: rgba(0, 0, 0, 0.15);
$input-border-hover: #5cb3fd;


