$col: #000;

$bg: #fff;

$font-sansSerif: "PT Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$font-serif: "Lora", Cambria, Georgia, "Times New Roman", Times, serif;


